*{
padding: 0; /* Define o preenchimento (espaçamento interno) em todas as quatro direções (cima, direita, baixo e esquerda) como 0. */
margin: 0; /* Define a margem (espaçamento externo) em todas as quatro direções (cima, direita, baixo e esquerda) como 0. */
box-sizing: border-box; /* Define o modelo de caixa para "border-box", o que inclui a largura e a altura da borda e do preenchimento na largura total do elemento, evitando que a largura e altura definidas sejam aumentadas pelo preenchimento e borda. */

}

html,
body{
    position: relative; /* Define a posição do elemento como "relativa", o que permitirá posicionar o elemento com base em sua posição normal na página. */
    min-height: 100vh; /* Define a altura mínima do elemento como 100% da altura da viewport (altura visível do navegador). Isso garante que o elemento tenha, pelo menos, a altura da tela, independentemente do conteúdo dentro dele. */
    overflow: auto; /* Define o comportamento de rolagem (scroll) quando o conteúdo do elemento exceder o espaço disponível. O valor "auto" permite que a rolagem seja adicionada somente quando necessário. */
    font-family: 'Poppins', sans-serif; /* Define a família de fontes para o elemento. Ele tentará usar a fonte "Poppins" e, se não estiver disponível, usará uma fonte genérica "sans-serif". */
    font-family: 'Righteous', cursive; /* Substitui a definição anterior da família de fontes. Se a fonte "Righteous" estiver disponível, ela será usada para o elemento. "cursive" é um fallback genérico caso a fonte "Righteous" não esteja disponível. */
    
}

main{
    padding-bottom: 3rem;
}

/* INICIO DO STYLE DO CABECALHO */

nav{
    text-align: center;
}
  
.logowidth{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
}
  
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none; /* especifica o estilo para uma lista como padrão*/
    margin: 0; /* define a área de margem nos quatro lados do elemento */
    padding: 0; /* é responsável por definir uma distância interna entre um elemento e sua borda */
    background-color:#0C3A54; /* cor do menu de navegação */
}
  
nav li {
    display: inline-block; /* faz com que o elemento HTML seja renderizado inline, dentro do bloco na mesma linha */
}
  
nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:#F9F8F8;  
}
nav li a:hover {
    color: white;
    font-weight: bold;
    font-size: large;
}
  
  /* FINAL DO STYLE DO CABEÇALHO */

  /*INICIO DO STYLE DA TABELA DE PRODUTOS*/

  .styletable {
    width: 80%; /* Define a largura da tabela para 100% da largura disponível */
    border-collapse: collapse; /* Remove as bordas internas entre as células */
  }
  
  thead {
    background-color: #f2f2f2; /* Cor de fundo para a linha do cabeçalho */
  }
  
  th {
    padding: 10px; /* Adicionar espaçamento interno ao redor do cabeçalho */
    text-align: left; /* Alinhar o texto do cabeçalho à esquerda */
    color: #333; /* Cor do texto do cabeçalho */
    border: 1px solid #ddd; /* Borda da célula do cabeçalho */
  }

  /*style das celulas*/

  td {
    padding: 8px; /* Adicionar espaçamento interno ao redor das células do corpo */
    text-align: left; /* Alinhar o texto das células à esquerda */
    color: #555; /* Cor do texto das células do corpo */
    border: 1px solid #ddd; /* Borda da célula do corpo */
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
  }

  #butacesse1{ /*botao da tabela*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0C3A54;
    color: #F9F8F8;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none; 
}

/*FINAL DO STYLE DA TABELA DE PRODUTOS*/


  /* INICIO DO STYLE DO RODAPÉ */

  #body_rodape
  {background-color: #0C3A54;text-align: center;font-size: 14px; padding: 20px; display: flex; justify-content: space-between;}
  .color-link{color: white;
}

footer {
    position: absolute; 
    justify-content: space-between;
    display: flex; 
    align-items: center; 
    flex-wrap:wrap; 
    flex-direction: row; 
    background-color: #0C3A54;
    text-align:center;
    font-size: 14px; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between;
    left: 0; 
    right: 0;
    width: 100%; 
    height: 3rem; 
    bottom: 0; 
}
  
.left {
    margin-left: 10px;
    color: white;
}
  
.right {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: right;
    letter-spacing: -1px; /* ajusta o espaçamento entre as letras */
    word-spacing: -1px; /* ajusta o espaçamento entre as palavras */
    color:white;
    
}
  
.imgfooter{
    width: 35px;
}
  
.link-sem-barra {
    text-decoration: none;
}
  
  /*FINAL DO STYLE DO RODAPÉ*/


  /* INICIO DO STYLE DO LOGIN */

#loginmod{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#0C3A54 ;
    width: 30%;
    height: 360px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    text-align:center;
    border-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
}

#loginmaior{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    color: #F9F8F8;
}

.fontedologin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 211, 211);
    font-size: 10px;
    text-align: center;
}

#linkcadastrese{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    color: #F9F8F8;
}

.bordainput{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.5rem;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: #0C3A54;
    color: #F9F8F8;
    border: none;
}

.bordainput:hover{
    background-color: gray;
}

.meu-input::placeholder {
    color: #F9F8F8;
  }


.cent{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

/* FINAL DO STYLE DO LOGIN */

/*INICIO STYLE CADASTRE-SE*/

#cadastrestyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0C3A54;
    width: 30%;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    text-align: center;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#butacesse{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(133, 197, 226, 0.822);
    color: #F9F8F8;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
}

.botao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    background: white;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #0C3A54;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px white;
    text-shadow: 1px 1px 1px white;
}

.botao:hover {
    background: rgba(133, 197, 226, 0.822);
    color: white;
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}

/*FINAL STYLE CADASTRE-SE*/

/* INICIO DO STYLE DAS IMAGENS DOS PRODUTOS*/

.tamimg {
    width: 8rem; /* Ajuste o tamanho da imagem conforme desejado */
    height: 8rem;
    border-radius: 50%; /* Define o raio como 50%, criando um círculo bem arredondado */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
/* FINAL DO STYLE DAS IMAGENS DOS PRODUTOS */